.root:global(.__wab_instance) {
  object-fit: cover;
  box-sizing: border-box;
  color: var(--token-TlGGssgpe902);
  font-family: var(--token-LpPjQKScegqg);
  font-size: var(--token-Hpwq6zTbPXsQ);
  line-height: var(--token-mqfztb1uFxzi);
  position: relative;
}
.freeBox {
  position: relative;
  display: flex;
}
