.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-TpTK_2GoKeuX);
  min-width: 0;
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-_XLOY8y1n-eS);
  margin-top: 4px;
  border-radius: var(--token-TehE4cTaM45d);
  border: 1px solid var(--token-kFI90AYWY-Ar);
}
.ariaInput:global(.__wab_instance) {
  box-shadow: none;
  width: 100%;
  line-height: var(--token-mqfztb1uFxzi);
  background: none;
  color: var(--token-v7qmW4z-kvLQ);
  font-family: var(--token-LpPjQKScegqg);
  font-size: 14px;
  height: 32px;
  min-width: 0;
  border-radius: var(--token-hQPSBqQKLLt7);
  padding: var(--token-hQPSBqQKLLt7) var(--token-WpGnNskMseTp)
    var(--token-hQPSBqQKLLt7) var(--token-m_ncsQsYKb7X);
  border-style: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-WpGnNskMseTp);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-WpGnNskMseTp);
  flex-shrink: 0;
  border-radius: var(--token-hQPSBqQKLLt7);
  border: 1px none black;
}
.svg {
  width: var(--token-56MnlmrV6ooZ);
  height: var(--token-56MnlmrV6ooZ);
  color: var(--token-v7qmW4z-kvLQ);
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.menuPopover:global(.__wab_instance):global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  margin: 0px;
}
.svg__wjX0J {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-AqOCY_C21mcv);
}
.svg__xi2G9 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-AqOCY_C21mcv);
}
.svg__fkdAr {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-AqOCY_C21mcv);
}
.text___0Pot4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__tn1Wv {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-AqOCY_C21mcv);
}
.svg__hi1Vl {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-AqOCY_C21mcv);
}
.svg___7KkMt {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-AqOCY_C21mcv);
}
