.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-TpTK_2GoKeuX);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__uzhl9 {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-TpTK_2GoKeuX);
}
.radio___0Al6Y:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__lbMjI:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__fMQk:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
