.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-BpJ5GLD1xIxs);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-TehE4cTaM45d);
  font-family: var(--token-LpPjQKScegqg);
  font-size: var(--token-Hpwq6zTbPXsQ);
  line-height: var(--token-mqfztb1uFxzi);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-hQPSBqQKLLt7);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-crPyIXZxVUdd);
  outline-offset: 1px;
  outline-color: var(--token-BpJ5GLD1xIxs);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.3;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-_XLOY8y1n-eS);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-kFI90AYWY-Ar);
  color: #000000;
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-7fWek8UmEbLr);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-VxMZrQZNXMy2);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-r813PqAL17Gx);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.roottype_noFill:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-I7xXh8khIYu3);
  font-size: var(--token-qCqmumvtKYQR);
  column-gap: var(--token-crPyIXZxVUdd);
  row-gap: 0px;
  border-radius: var(--token-TpTK_2GoKeuX);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-qCqmumvtKYQR);
  line-height: var(--token-I7xXh8khIYu3);
  column-gap: var(--token-TpTK_2GoKeuX);
  row-gap: 0px;
  border-radius: var(--token-TpTK_2GoKeuX);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-3I6YKcishaa3);
  line-height: var(--token-vgd-Sld_Wjaf);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-3I6YKcishaa3);
  line-height: var(--token-vgd-Sld_Wjaf);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-zZIgf0u9PO7l);
  border-radius: var(--token-hQPSBqQKLLt7);
}
.softBackgroundcolor_neutral {
  background: var(--token-usWESUuulc43);
}
.softBackgroundcolor_muted {
  background: var(--token-6Gs9iQ4WiuRf);
}
.softBackgroundcolor_success {
  background: var(--token-GOwh7U6lD3gJ);
}
.softBackgroundcolor_warning {
  background: var(--token-lt2y7g5jPXxR);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-7Lo9m2MuDr3O);
}
.softBackgroundtype_soft {
  display: block;
}
.softBackgroundtype_bordered {
  background: var(--token-_XLOY8y1n-eS);
  opacity: 0.5;
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  background: var(--token-EMs2UJA2a4CJ);
  opacity: 0.5;
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  background: var(--token-65MH6kL1GxzC);
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-hQPSBqQKLLt7);
  border: 0px solid var(--token-PBgaBExigVsH);
}
.bordercolor_neutral {
  border-color: var(--token-MkNDeO8zXaKU);
}
.bordercolor_muted {
  border-color: var(--token-8UBd6hDlBGzc);
}
.bordercolor_success {
  border-color: var(--token-Ht-JnvJMYpRP);
}
.bordercolor_warning {
  border-color: var(--token-lIiiPouJVH1Y);
}
.bordercolor_errorDestructive {
  border-color: var(--token-0WKCN-fH-AyV);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
  border-color: var(--token-v7qmW4z-kvLQ);
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-hQPSBqQKLLt7);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-o9dOhoa68BmJ);
}
.root[data-disabled] .interactionEffect {
  background: none;
}
.root[data-pressed] .interactionEffect {
  background: var(--token-sh3jYYHaF33p);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.roottype_noFill[data-hovered] .interactionEffecttype_noFill {
  background: var(--token-kFI90AYWY-Ar);
}
.roottype_noFill[data-pressed] .interactionEffecttype_noFill {
  background: var(--token-H-zsZZQz0UTF);
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.rootcolor_errorDestructive_type_noFill[data-hovered]
  .interactionEffectcolor_errorDestructive_type_noFill {
  background: var(--token-uKqeNMh4-U-m);
}
.rooticonStart_color_errorDestructive_type_noFill[data-hovered]
  .interactionEffecticonStart_color_errorDestructive_type_noFill {
  background: var(--token-IqkIQtEIIIBj);
}
.freeBox__mneVf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-hQPSBqQKLLt7);
  min-width: 0;
  min-height: 0;
  padding: var(--token-hQPSBqQKLLt7) var(--token-m_ncsQsYKb7X);
}
.freeBoxsize_extraSmall__mneVfhoyXm {
  padding: var(--token-TpTK_2GoKeuX) var(--token-hQPSBqQKLLt7);
}
.freeBoxsize_small__mneVf8Xkmd {
  padding: var(--token-hQPSBqQKLLt7) var(--token-TehE4cTaM45d);
}
.freeBoxsize_large__mneVfKa5T {
  padding-top: var(--token-TpTK_2GoKeuX);
  padding-bottom: var(--token-TpTK_2GoKeuX);
}
.freeBoxsize_extraLarge__mneVfyUhmw {
  padding-left: var(--token-XnIZUVM-nw1Z);
  padding-right: var(--token-XnIZUVM-nw1Z);
}
.freeBoxroundedFull__mneVfCq9Qz {
  padding-right: var(--token-XnIZUVM-nw1Z);
  padding-left: var(--token-XnIZUVM-nw1Z);
}
.freeBox__jeMm0 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__jeMm08TQvr {
  display: flex;
}
.freeBoxiconOnly__jeMm0AOxU {
  display: flex;
}
.slotTargetStart {
  color: var(--token-v7qmW4z-kvLQ);
}
.slotTargetStartcolor_neutral {
  color: var(--token-J-n4ivkP2rJU);
}
.slotTargetStartcolor_muted {
  color: var(--token-8drudh0kJ4ai);
}
.slotTargetStartcolor_success {
  color: var(--token-LOtUBPh_DmrF);
}
.slotTargetStartcolor_warning {
  color: var(--token-olf4IcLXplnB);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-g2Kn4BFs9esI);
}
.slotTargetStarttype_soft {
  color: var(--token-JIgZE8Kssn40);
}
.slotTargetStarttype_bordered {
  color: var(--token-JIgZE8Kssn40);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-qCqmumvtKYQR);
}
.slotTargetStartsize_small {
  font-size: var(--token-qCqmumvtKYQR);
}
.slotTargetStartsize_large {
  font-size: var(--token-3I6YKcishaa3);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-3I6YKcishaa3);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-BkwAOlBFEoel);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-BkwAOlBFEoel);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-OlZJzIR7X0DG);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-OlZJzIR7X0DG);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-Sd5R5Xl02sYi);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-Sd5R5Xl02sYi);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-t8zpvDzBQJqj);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-t8zpvDzBQJqj);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-uKqeNMh4-U-m);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-uKqeNMh4-U-m);
}
.slotTargetStarticonStart_color_errorDestructive_type_noFill {
  color: var(--token-r813PqAL17Gx);
}
.svg__sOFdB {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-v7qmW4z-kvLQ);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-J-n4ivkP2rJU);
}
.slotTargetLabelcolor_muted {
  color: var(--token-v7qmW4z-kvLQ);
}
.slotTargetLabelcolor_success {
  color: var(--token-LOtUBPh_DmrF);
}
.slotTargetLabelcolor_warning {
  color: var(--token-olf4IcLXplnB);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-g2Kn4BFs9esI);
}
.slotTargetLabeltype_soft {
  color: var(--token-JIgZE8Kssn40);
}
.slotTargetLabeltype_bordered {
  color: var(--token-JIgZE8Kssn40);
}
.roottype_bordered[data-pressed] .slotTargetLabeltype_bordered {
  color: var(--token-v7qmW4z-kvLQ);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-BkwAOlBFEoel);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-OlZJzIR7X0DG);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-BkwAOlBFEoel);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-Sd5R5Xl02sYi);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-OlZJzIR7X0DG);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-t8zpvDzBQJqj);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-Sd5R5Xl02sYi);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-uKqeNMh4-U-m);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-t8zpvDzBQJqj);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-uKqeNMh4-U-m);
}
.slotTargetLabelcolor_errorDestructive_type_noFill {
  color: var(--token-r813PqAL17Gx);
}
.rootcolor_errorDestructive_type_noFill[data-hovered]
  .slotTargetLabelcolor_errorDestructive_type_noFill {
  color: var(--token-7Lo9m2MuDr3O);
}
.rooticonStart_color_errorDestructive_type_noFill[data-hovered]
  .slotTargetLabeliconStart_color_errorDestructive_type_noFill {
  color: var(--token-r813PqAL17Gx);
}
.text__zfzZ {
  white-space: pre;
  font-family: var(--token-LpPjQKScegqg);
}
.freeBox__uax6 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__uax6FzUtt {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-Spv8XkcF8QfY);
}
.slotTargetEndcolor_neutral {
  color: var(--token-J-n4ivkP2rJU);
}
.slotTargetEndcolor_muted {
  color: var(--token-8drudh0kJ4ai);
}
.slotTargetEndcolor_success {
  color: var(--token-LOtUBPh_DmrF);
}
.slotTargetEndcolor_warning {
  color: var(--token-olf4IcLXplnB);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-g2Kn4BFs9esI);
}
.slotTargetEndtype_soft {
  color: var(--token-JIgZE8Kssn40);
}
.slotTargetEndtype_bordered {
  color: var(--token-JIgZE8Kssn40);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-qCqmumvtKYQR);
}
.slotTargetEndsize_small {
  font-size: var(--token-qCqmumvtKYQR);
}
.slotTargetEndsize_large {
  font-size: var(--token-3I6YKcishaa3);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-3I6YKcishaa3);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-BkwAOlBFEoel);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-BkwAOlBFEoel);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-OlZJzIR7X0DG);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-OlZJzIR7X0DG);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-Sd5R5Xl02sYi);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-Sd5R5Xl02sYi);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-t8zpvDzBQJqj);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-t8zpvDzBQJqj);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-uKqeNMh4-U-m);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-uKqeNMh4-U-m);
}
.svg__wuhgZ {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
