.root:global(.__wab_instance) {
  width: 300px;
  box-sizing: border-box;
  object-fit: cover;
  background: var(--token-_XLOY8y1n-eS);
  position: relative;
  overflow: auto;
  box-shadow: 0px 0px 12px 0px #00000040;
  border-radius: var(--token-TehE4cTaM45d);
  padding: var(--token-hQPSBqQKLLt7);
  border: 1px solid var(--token-kFI90AYWY-Ar);
}
.ariaListBox:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  outline-style: none;
  min-width: 0;
}
.svg__iivTh {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-AqOCY_C21mcv);
}
.svg__hmJjb {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-AqOCY_C21mcv);
}
.svg___7BiL {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-AqOCY_C21mcv);
}
.menuSection__vqLc2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__hwc8C {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-AqOCY_C21mcv);
}
.svg__rvEl {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-AqOCY_C21mcv);
}
.svg__z2P1C {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-AqOCY_C21mcv);
}
