.root:global(.__wab_instance) {
  position: relative;
  cursor: pointer;
  font-family: var(--token-LpPjQKScegqg);
  font-size: var(--token-Hpwq6zTbPXsQ);
  line-height: var(--token-mqfztb1uFxzi);
  outline-style: none;
  flex-shrink: 0;
  background: none;
  height: 32px;
  color: var(--token-v7qmW4z-kvLQ);
  border-radius: var(--token-hQPSBqQKLLt7);
}
.root[data-hovered][data-hovered]:global(.__wab_instance) {
  background: var(--token-MCQDM119Y7WI);
}
.root[data-disabled][data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
}
.root[data-focus-visible][data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-crPyIXZxVUdd);
  outline-color: var(--token-BpJ5GLD1xIxs);
  outline-offset: 1px;
}
.roottype_noIcon:global(.__wab_instance) {
  background: none;
}
.freeBox__jnh4S {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  column-gap: 2px;
  row-gap: var(--token-crPyIXZxVUdd);
  padding-right: 12px;
  padding-left: 12px;
  opacity: 0.5;
  min-width: 0;
  min-height: 0;
}
.root[data-hovered] .freeBox__jnh4S {
  opacity: 1;
}
.root[data-focus-visible] .freeBox__jnh4S {
  opacity: 1;
}
.freeBoxtype_noIcon__jnh4SKyr9Y {
  opacity: 1;
}
.freeBoxactive__jnh4SHgAnY {
  opacity: 1;
}
.freeBox__s0JUz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 12px;
  min-width: 0;
}
.slotTargetIcon {
  color: var(--token-v7qmW4z-kvLQ);
}
.svg___183Qn {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-AqOCY_C21mcv);
  flex-shrink: 0;
}
.ariaText:global(.__wab_instance) {
  font-family: var(--token-LpPjQKScegqg);
  width: 100%;
  font-size: 14px;
  min-width: 0;
}
.freeBox__cKeZi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
}
.text___8WFIv {
  width: 100%;
  min-width: 0;
}
.ariaDescription:global(.__wab_instance) {
  font-family: var(--token-LpPjQKScegqg);
  font-size: var(--token-qCqmumvtKYQR);
}
.text__ilB1M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-xtrKeNpb0vtl);
  min-width: 0;
}
.root[data-hovered] .text__ilB1M {
  color: var(--token-TlGGssgpe902);
}
