.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: stretch;
  justify-items: stretch;
  overflow: auto;
  background: var(--token-ZIWYYqB51_gg);
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
.menuBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  z-index: 1;
}
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  row-gap: 8px;
  min-width: 0;
  min-height: 0;
  padding: 20px;
}
.freeBox___2Jj28 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  min-width: 0;
}
.freeBox__bkI6 {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 200px;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  left: auto;
  right: 0;
  row-gap: 8px;
  background: var(--token-hrMucCmuVP2a);
  flex-shrink: 0;
  min-height: 0;
  border-radius: var(--token-m_ncsQsYKb7X);
  padding: 12px;
}
.freeBox__nhb30 {
  display: flex;
  position: relative;
  width: 200px;
  height: 100%;
  max-width: 100%;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0;
  border-radius: var(--token-hQPSBqQKLLt7);
}
.text___0AcUe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  font-family: var(--token-LpPjQKScegqg);
  font-size: var(--token-qCqmumvtKYQR);
  text-align: center;
  color: var(--token-v7qmW4z-kvLQ);
  min-width: 0;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 200px;
  height: 34px;
  flex-shrink: 0;
}
.svg___02Cnw {
  position: relative;
  height: 1em;
}
.text__eEyQ5 {
  white-space: pre;
  font-family: var(--token-LpPjQKScegqg);
  color: var(--token-v7qmW4z-kvLQ);
  font-size: var(--token-qCqmumvtKYQR);
}
.svg__mwU5D {
  position: relative;
  height: 1em;
}
.setSelection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  position: absolute;
  left: 0;
  top: 0;
  flex-shrink: 0;
}
.text__wk1HP {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-v7qmW4z-kvLQ);
  margin-top: 0px;
}
.combobox:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__zgIg9 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-AqOCY_C21mcv);
}
.values {
  animation: none;
  display: flex;
  width: 60%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 10px;
  position: relative;
  --plsmc-rc-col-gap: 10px;
  padding: 0px;
}
.values > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.values > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.values > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .values {
    animation: none;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .values > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___1S0Lv {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-H-zsZZQz0UTF);
  min-width: 0;
  border-radius: var(--token-hQPSBqQKLLt7);
  padding: 12px;
}
.text__uWqcw {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-v7qmW4z-kvLQ);
  font-family: var(--token-LpPjQKScegqg);
  font-weight: 500;
  font-size: var(--token-qCqmumvtKYQR);
  text-align: center;
  min-width: 0;
}
.totalValue {
  animation: none;
  position: relative;
  text-align: center;
  font-weight: 600;
  font-family: var(--token-LpPjQKScegqg);
  color: var(--token-3hYDfmVZ1orH);
  max-width: 100%;
  height: auto;
  width: 100%;
  font-size: 24px;
  min-width: 0;
}
.column__frqan {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-H-zsZZQz0UTF);
  min-width: 0;
  border-radius: var(--token-hQPSBqQKLLt7);
  padding: 12px;
}
.text__nogIu {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-v7qmW4z-kvLQ);
  font-family: var(--token-LpPjQKScegqg);
  font-weight: 500;
  font-size: var(--token-qCqmumvtKYQR);
  text-align: center;
  min-width: 0;
}
.collected {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-3hYDfmVZ1orH);
  font-family: var(--token-LpPjQKScegqg);
  font-weight: 600;
  text-align: center;
  font-size: 24px;
  min-width: 0;
}
._switch:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: auto;
  margin-top: 4px;
}
.text__kXe7F {
  animation: none;
  font-family: var(--token-LpPjQKScegqg);
  font-size: var(--token-qCqmumvtKYQR);
}
.column__xy5Jv {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
  min-width: 0;
  border-radius: var(--token-hQPSBqQKLLt7);
  padding: 0px;
}
.buyMissingCards:global(.__wab_instance) {
  animation: none;
  position: relative;
  height: 100%;
  min-height: 0;
}
.freeBox__nuaP2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.tabGroup:global(.__wab_instance) {
  max-width: 100%;
  height: 45px;
  width: 500px;
  flex-shrink: 0;
}
.freeBox__iIwr2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  border-bottom: 1px solid var(--token-kFI90AYWY-Ar);
}
.quickFilters {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  overflow: hidden;
  min-width: 0;
  padding: 0px;
}
.cardTypes {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  padding: 0px;
}
.artists:global(.__wab_instance) {
  animation: none;
}
.img__rPvNx {
  animation: none;
  object-fit: cover;
  width: 35px;
  height: 35px;
}
.img__rPvNx > picture > img {
  object-fit: cover;
}
.events:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.img__t53WY {
  animation: none;
  object-fit: cover;
  height: 35px;
}
.img__t53WY > picture > img {
  object-fit: cover;
}
.items:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.img__aRXnJ {
  animation: none;
  object-fit: cover;
  width: 35px;
  height: 35px;
}
.img__aRXnJ > picture > img {
  object-fit: cover;
}
.line {
  animation: none;
  display: block;
  position: relative;
  width: 1px;
  height: 50px;
  max-width: 100%;
  background: var(--token-kFI90AYWY-Ar);
  flex-shrink: 0;
  padding: 0px;
}
.cardStyles {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  padding: 0px;
}
.chill:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.img__oUsmy {
  animation: none;
  object-fit: cover;
  width: 30px;
  height: 30px;
}
.img__oUsmy > picture > img {
  object-fit: cover;
}
.party:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.img__svFLe {
  animation: none;
  object-fit: cover;
  width: 30px;
  height: 30px;
}
.img__svFLe > picture > img {
  object-fit: cover;
}
.hardcore:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.img___7Kd3Q {
  animation: none;
  object-fit: cover;
  width: 30px;
  height: 30px;
}
.img___7Kd3Q > picture > img {
  object-fit: cover;
}
.emo:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.img__cPvrw {
  animation: none;
  object-fit: cover;
  width: 30px;
  height: 30px;
}
.img__cPvrw > picture > img {
  object-fit: cover;
}
.conscious:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.img__d9UQq {
  animation: none;
  object-fit: cover;
  width: 30px;
  height: 30px;
}
.img__d9UQq > picture > img {
  object-fit: cover;
}
.freestyle:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.img__hGlV {
  animation: none;
  object-fit: cover;
  width: 30px;
  height: 30px;
}
.img__hGlV > picture > img {
  object-fit: cover;
}
.line2 {
  animation: none;
  display: block;
  position: relative;
  width: 1px;
  height: 50px;
  max-width: 100%;
  background: var(--token-kFI90AYWY-Ar);
  flex-shrink: 0;
  padding: 0px;
}
.cardCosts {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  overflow: auto;
  flex-shrink: 1;
  padding: 0px;
}
.cost0:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.img__bVnok {
  animation: none;
  object-fit: cover;
  width: 35px;
  height: 35px;
}
.img__bVnok > picture > img {
  object-fit: cover;
}
.cost1:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.img__xWsp4 {
  animation: none;
  object-fit: cover;
  width: 35px;
  height: 35px;
}
.img__xWsp4 > picture > img {
  object-fit: cover;
}
.cost2:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.img__jjGeO {
  animation: none;
  object-fit: cover;
  height: 35px;
  width: 35px;
}
.img__jjGeO > picture > img {
  object-fit: cover;
}
.cost3:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.img__kBh39 {
  animation: none;
  object-fit: cover;
  width: 35px;
  height: 35px;
}
.img__kBh39 > picture > img {
  object-fit: cover;
}
.cost4:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.img__kxcD2 {
  animation: none;
  object-fit: cover;
  width: 35px;
  height: 35px;
}
.img__kxcD2 > picture > img {
  object-fit: cover;
}
.cost5:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.img__boSx3 {
  animation: none;
  object-fit: cover;
  width: 35px;
  height: 35px;
}
.img__boSx3 > picture > img {
  object-fit: cover;
}
.cost6:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.img__udXU {
  animation: none;
  object-fit: cover;
  width: 35px;
  height: 35px;
}
.img__udXU > picture > img {
  object-fit: cover;
}
.cost7:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.img__ji6M1 {
  animation: none;
  object-fit: cover;
  width: 35px;
  height: 35px;
}
.img__ji6M1 > picture > img {
  object-fit: cover;
}
.cost8:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.img__x7Fh0 {
  animation: none;
  object-fit: cover;
  width: 35px;
  height: 35px;
}
.img__x7Fh0 > picture > img {
  object-fit: cover;
}
.costX:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.img__xSYyG {
  animation: none;
  object-fit: cover;
  width: 35px;
  height: 35px;
}
.img__xSYyG > picture > img {
  object-fit: cover;
}
.filtersButton:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 125px;
  height: 40px;
  flex-shrink: 0;
}
.svg__t5EhN {
  animation: none;
  position: relative;
  height: 1em;
}
.text__wdLob {
  animation: none;
  white-space: pre;
  width: 100%;
  text-align: center;
  font-family: var(--token-LpPjQKScegqg);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-v7qmW4z-kvLQ);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.svg__dhJLk {
  position: relative;
  height: 1em;
}
.freeBox__hdSrm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 35px;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
  flex-shrink: 0;
}
.searchInput:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  height: 100%;
  width: 40%;
  min-height: 0;
}
.freeBox__qC7M4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
}
.viewAllCards {
  animation: none;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: none;
  padding: 0px;
}
.viewButton:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 125px;
  height: 100%;
  min-height: 0;
}
.svg__uHmOk {
  animation: none;
  position: relative;
  height: 1em;
}
.text__xEkeM {
  animation: none;
  white-space: pre;
  width: 100%;
  text-align: center;
  font-family: var(--token-LpPjQKScegqg);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-v7qmW4z-kvLQ);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.svg__xc6NS {
  position: relative;
  height: 1em;
}
.viewPopup {
  animation: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-_XLOY8y1n-eS);
  left: -45px;
  top: 40px;
  z-index: 5;
  right: 0px;
  border-radius: var(--token-m_ncsQsYKb7X);
  padding: 8px 12px;
  border: 1px solid var(--token-kFI90AYWY-Ar);
}
.sortingAllCards:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.text__jhP4Z {
  animation: none;
  font-family: var(--token-LpPjQKScegqg);
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.menuItem5:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
}
.svg___4Ywgd {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-AqOCY_C21mcv);
}
.menuItem2:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
}
.svg___9N5F7 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-AqOCY_C21mcv);
}
.menuItem3:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
}
.svg__mbKYc {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-AqOCY_C21mcv);
}
.menuItem4:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
}
.svg__n83Py {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-AqOCY_C21mcv);
}
.cards {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
}
.card__kVkrZ:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.card__thArp:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.card__gEatQ:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.card__mTwlF:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.card__pcpDb:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.card__smUwz:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.card__jVh7M:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.card___6ZHFw:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.card__hawQm:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.card__tb8Zj:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.filterPanel {
  animation: none;
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  min-height: 100%;
  background: var(--token-ZIWYYqB51_gg);
  opacity: 1;
  bottom: 0;
  right: 0;
  z-index: 5;
  min-width: 0;
  padding: var(--token-m_ncsQsYKb7X) var(--token--cbTwI-_-2-d);
}
.freeBox__m8Jzu {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
  max-width: 100%;
  background: var(--token-H-zsZZQz0UTF);
  height: auto;
  overflow: hidden;
  border-radius: var(--token-m_ncsQsYKb7X);
  padding: 0px;
}
.title {
  animation: none;
  display: flex;
  flex-direction: row;
  position: sticky;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: var(--token-H-zsZZQz0UTF);
  min-width: 0;
  border-radius: var(--token-m_ncsQsYKb7X);
  padding: var(--token--cbTwI-_-2-d) var(--token--cbTwI-_-2-d) 0px;
}
.text__ogbnv {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h4 {
  animation: none;
}
.closeButton:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.svg___2RVsB {
  animation: none;
  position: relative;
  height: 1em;
}
.text__uvehw {
  white-space: pre;
  font-family: var(--token-LpPjQKScegqg);
  color: var(--token-v7qmW4z-kvLQ);
}
.svg__xfi9N {
  position: relative;
  height: 1em;
}
.filterPanel2 {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: var(--token--cbTwI-_-2-d);
  padding-right: var(--token--cbTwI-_-2-d);
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  background: var(--token-H-zsZZQz0UTF);
  overflow: auto;
  min-width: 0;
  border-radius: var(--token-m_ncsQsYKb7X);
}
.style2 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
  border-top-style: none;
  min-width: 0;
  padding: 20px 0px;
  border-bottom: 1px solid var(--token-kFI90AYWY-Ar);
}
.text___348Bd {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--token-LpPjQKScegqg);
  min-width: 0;
}
.h5__gLaVz {
  animation: none;
}
.checkboxGroup4:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.text__xqnrr {
  animation: none;
  display: none;
}
.freeBox__vs16J {
  animation: none;
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row-gap: 4px;
  grid-column-gap: 8px;
  grid-auto-columns: 1fr;
}
.filterPanelStyleChill:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__q8Q7L {
  animation: none;
  object-fit: cover;
  width: 35px;
  height: 35px;
}
.img__q8Q7L > picture > img {
  object-fit: cover;
}
.text__kubKj {
  animation: none;
}
.filterPanelStyleParty:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__gwt3Y {
  animation: none;
  object-fit: cover;
  width: 35px;
  height: 35px;
}
.img__gwt3Y > picture > img {
  object-fit: cover;
}
.text__iew2B {
  animation: none;
  width: auto;
  padding-top: 0px;
}
.filterPanelStyleHardcore:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__yFOuR {
  animation: none;
  object-fit: cover;
  width: 35px;
  height: 35px;
}
.img__yFOuR > picture > img {
  object-fit: cover;
}
.text__cPdZv {
  animation: none;
}
.filterPanelStyleEmo:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__mcLi {
  animation: none;
  object-fit: cover;
  width: 35px;
  height: 35px;
}
.img__mcLi > picture > img {
  object-fit: cover;
}
.text__wfhIw {
  animation: none;
}
.filterPanelStyleConscious:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__magE {
  animation: none;
  object-fit: cover;
  width: 35px;
  height: 35px;
}
.img__magE > picture > img {
  object-fit: cover;
}
.text__nBdNk {
  animation: none;
}
.filterPanelStyleFreestyle:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__zasno {
  animation: none;
  object-fit: cover;
  width: 35px;
  height: 35px;
}
.img__zasno > picture > img {
  object-fit: cover;
}
.text__eavq {
  animation: none;
}
.text___8LKfL {
  animation: none;
  display: none;
}
.type {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
  border-top-style: none;
  min-width: 0;
  padding: 20px 0px;
  border-bottom: 1px solid var(--token-kFI90AYWY-Ar);
}
.text__lZ2Ep {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--token-LpPjQKScegqg);
  min-width: 0;
}
.h5__xGfjf {
  animation: none;
}
.checkboxGroup5:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.text__bw2D {
  animation: none;
  display: none;
}
.freeBox__sznZ3 {
  animation: none;
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row-gap: 4px;
  grid-column-gap: 8px;
  grid-auto-columns: 1fr;
}
.filterPanelTypeArtist:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  height: 50px;
}
.text__nJHr {
  animation: none;
  font-family: var(--token-LpPjQKScegqg);
  font-size: var(--token-Hpwq6zTbPXsQ);
}
.filterPanelTypeItem:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text__gCqLl {
  animation: none;
}
.filterPanelTypeEvent:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text___9EctD {
  animation: none;
}
.text__ukyOm {
  animation: none;
  display: none;
}
.cost {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
  border-top-style: none;
  min-width: 0;
  padding: 20px 0px;
  border-bottom: 1px solid var(--token-kFI90AYWY-Ar);
}
.text__nMJiL {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--token-LpPjQKScegqg);
  min-width: 0;
}
.h5__gDbgk {
  animation: none;
}
.filterPanelCostIconContainer {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  overflow: auto;
  flex-shrink: 1;
  padding: 0px;
}
.filterPanelCost0:global(.__wab_instance) {
  animation: none;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.img__fnZzL {
  animation: none;
  object-fit: cover;
  width: 40px;
  height: 40px;
}
.img__fnZzL > picture > img {
  object-fit: cover;
}
.filterPanelCost1:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.img__u9Aq {
  animation: none;
  object-fit: cover;
  width: 40px;
  height: 40px;
}
.img__u9Aq > picture > img {
  object-fit: cover;
}
.filterPanelCost2:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.img__uCMvl {
  animation: none;
  object-fit: cover;
  height: 40px;
  width: 40px;
}
.img__uCMvl > picture > img {
  object-fit: cover;
}
.filterPanelCost3:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.img__pn2D {
  animation: none;
  object-fit: cover;
  width: 40px;
  height: 40px;
}
.img__pn2D > picture > img {
  object-fit: cover;
}
.filterPanelCost4:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.img__q7LYz {
  animation: none;
  object-fit: cover;
  width: 40px;
  height: 40px;
}
.img__q7LYz > picture > img {
  object-fit: cover;
}
.filterPanelCost5:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.img__qwXun {
  animation: none;
  object-fit: cover;
  width: 40px;
  height: 40px;
}
.img__qwXun > picture > img {
  object-fit: cover;
}
.filterPanelCost6:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.img___9Vnl3 {
  animation: none;
  object-fit: cover;
  width: 40px;
  height: 40px;
}
.img___9Vnl3 > picture > img {
  object-fit: cover;
}
.filterPanelCost7:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.img__iEUa6 {
  animation: none;
  object-fit: cover;
  width: 40px;
  height: 40px;
}
.img__iEUa6 > picture > img {
  object-fit: cover;
}
.filterPanelCost8:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.img__jpBff {
  animation: none;
  object-fit: cover;
  width: 40px;
  height: 40px;
}
.img__jpBff > picture > img {
  object-fit: cover;
}
.filterPanelCostX:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.img__b622V {
  animation: none;
  object-fit: cover;
  width: 40px;
  height: 40px;
}
.img__b622V > picture > img {
  object-fit: cover;
}
.rarity {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
  border-top-style: none;
  min-width: 0;
  padding: 20px 0px;
  border-bottom: 1px solid var(--token-kFI90AYWY-Ar);
}
.text__gVhTf {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--token-LpPjQKScegqg);
  min-width: 0;
}
.h5__nsMp2 {
  animation: none;
}
.checkboxGroup2:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.text__mr3W {
  animation: none;
  display: none;
}
.freeBox__zKkqC {
  animation: none;
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row-gap: 4px;
  grid-column-gap: 8px;
  grid-auto-columns: 1fr;
}
.filterPanelRarityCommon:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  height: 50px;
}
.text__gcPmF {
  animation: none;
  font-family: var(--token-LpPjQKScegqg);
  font-size: var(--token-Hpwq6zTbPXsQ);
}
.filterPanelRarityUncommon:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text__iBxDn {
  animation: none;
}
.filterPanelRarityRare:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text___65LXj {
  animation: none;
}
.filterPanelRarityEpic:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text__vrBna {
  animation: none;
}
.filterPanelRaritySuper:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text__giw5D {
  animation: none;
}
.text__rv9Ux {
  animation: none;
  display: none;
}
.keyword {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
  border-top-style: none;
  min-width: 0;
  padding: 20px 0px;
  border-bottom: 1px solid var(--token-kFI90AYWY-Ar);
}
.text___5JtiJ {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--token-LpPjQKScegqg);
  min-width: 0;
}
.h5__sFvh {
  animation: none;
}
.checkboxGroup:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.text__zrPg {
  animation: none;
  display: none;
}
.freeBox__sAu4O {
  animation: none;
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-row-gap: 4px;
  grid-column-gap: 8px;
  grid-auto-columns: 1fr;
}
.afterdeath:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  height: 50px;
}
.text__qm9MM {
  animation: none;
  font-family: var(--token-LpPjQKScegqg);
}
.cut:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text__hW8Rn {
  animation: none;
  height: auto;
}
.draw:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text__i0Ek {
  animation: none;
}
.erase:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text__owKfH {
  animation: none;
  height: auto;
}
.fly:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text__b9QIw {
  animation: none;
}
.heal:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text__i3YSt {
  animation: none;
}
.invest:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text__bRa5X {
  animation: none;
  margin-right: 0px;
}
.protect:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text__uVPvq {
  animation: none;
}
.reup:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text__fKAgZ {
  animation: none;
}
.start:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text__nyTdQ {
  animation: none;
}
.play:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text__obtdi {
  animation: none;
}
.end:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text__lzeeJ {
  animation: none;
}
.choose:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text___9IzjM {
  animation: none;
}
.chooseOne:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text__cayiS {
  animation: none;
}
.ongoing:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text__oTgxq {
  animation: none;
}
.trap:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  height: 50px;
}
.text__iCwpz {
  animation: none;
}
.text__jBs {
  animation: none;
  display: none;
}
.set {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
  border-top-style: none;
  min-width: 0;
  padding: 20px 0px;
  border-bottom: 1px solid var(--token-kFI90AYWY-Ar);
}
.text__mvo4C {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--token-LpPjQKScegqg);
  min-width: 0;
}
.h5__avEc5 {
  animation: none;
}
.checkboxGroup3:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.text__hfATg {
  animation: none;
  display: none;
}
.freeBox__uyLZy {
  animation: none;
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row-gap: 4px;
  grid-column-gap: 8px;
  grid-auto-columns: 1fr;
}
.genesis:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  height: 50px;
}
.text__dfInz {
  animation: none;
  font-family: var(--token-LpPjQKScegqg);
}
.text__l0770 {
  animation: none;
  display: none;
}
.buttons {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 40px;
}
.resetButton:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  width: 90px;
  flex-shrink: 0;
}
.svg___16G2O {
  position: relative;
  height: 1em;
}
.text__pCyrI {
  animation: none;
  white-space: pre;
  font-family: var(--token-LpPjQKScegqg);
}
.svg__uM23O {
  position: relative;
  height: 1em;
}
.doneButton:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  width: 90px;
  flex-shrink: 0;
}
.svg__uyzrh {
  position: relative;
  height: 1em;
}
.text__leAfb {
  animation: none;
  white-space: pre;
  font-family: var(--token-LpPjQKScegqg);
}
.svg__bpDul {
  position: relative;
  height: 1em;
}
