.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: auto;
  max-width: 100%;
  position: relative;
  row-gap: 8px;
  border-radius: 100px;
  padding: 8px 16px;
}
.rootselected {
  background: var(--token-65MH6kL1GxzC);
}
.root:hover:hover {
  background: none;
  height: auto;
}
.rootselected:hover:hover {
  background: var(--token-65MH6kL1GxzC);
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-v7qmW4z-kvLQ);
  font-weight: 600;
  font-family: var(--token-LpPjQKScegqg);
  opacity: 0.5;
  text-align: center;
  font-size: 14px;
  min-width: 0;
}
.textselected {
  opacity: 1;
}
.root:hover .text {
  opacity: 1;
}
