.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  row-gap: var(--token-TpTK_2GoKeuX);
  min-width: 0;
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.labelonlyInput:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.slotTargetLabel {
  font-family: var(--token-LpPjQKScegqg);
}
.freeBox__tpsEg {
  display: flex;
  flex-direction: column;
}
.freeBox__kW5Uy {
  flex-direction: row;
  position: absolute;
  height: var(--token-WpGnNskMseTp);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-hQPSBqQKLLt7) var(--token-m_ncsQsYKb7X);
}
.freeBoxiconStart__kW5UyGe6P {
  display: flex;
}
.slotTargetStart {
  color: var(--token-TlGGssgpe902);
}
.svg__yp8OC {
  position: relative;
  height: 1em;
}
.textInputiconStart:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox__dg0Ip {
  height: var(--token-WpGnNskMseTp);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-hQPSBqQKLLt7) var(--token-m_ncsQsYKb7X);
}
.freeBoxiconEnd__dg0Ipbqu9K {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-TlGGssgpe902);
}
.svg__iUnoE {
  position: relative;
  height: 1em;
}
.showButton:global(.__wab_instance):global(.__wab_instance) {
  width: 40px;
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.showButtonpassword_hidePassword:global(.__wab_instance):global(
    .__wab_instance
  ) {
  display: flex;
}
.showButtonpassword_showPassword:global(.__wab_instance):global(
    .__wab_instance
  ) {
  display: none;
}
.svg__wmfTl {
  position: relative;
  height: 1em;
}
.text___3Ymfw {
  white-space: pre;
  font-family: var(--token-LpPjQKScegqg);
  color: var(--token-v7qmW4z-kvLQ);
}
.svg__fms2Y {
  position: relative;
  height: 1em;
}
.hideButton:global(.__wab_instance):global(.__wab_instance) {
  width: 40px;
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
}
.hideButtonpassword_hidePassword:global(.__wab_instance):global(
    .__wab_instance
  ) {
  display: none;
}
.hideButtonpassword_showPassword:global(.__wab_instance):global(
    .__wab_instance
  ) {
  display: flex;
}
.svg__xj9Rq {
  position: relative;
  height: 1em;
}
.text__a1T5T {
  white-space: pre;
  font-family: var(--token-LpPjQKScegqg);
  color: var(--token-v7qmW4z-kvLQ);
}
.svg__i0Ss1 {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
