.ariaRadio:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--token-7Zq9pwo4YT0s);
  font-family: var(--token-LpPjQKScegqg);
  font-size: var(--token-Hpwq6zTbPXsQ);
  line-height: var(--token-mqfztb1uFxzi);
  width: 100%;
  column-gap: var(--token-TehE4cTaM45d);
  min-width: 0;
}
.ariaRadio[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.freeBox__r7Ppv {
  display: flex;
  position: relative;
  width: var(--token--cbTwI-_-2-d);
  height: var(--token--cbTwI-_-2-d);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  border: 2px solid var(--token-AqOCY_C21mcv);
}
.ariaRadio[data-selected] .freeBox__r7Ppv {
  background: var(--token-BpJ5GLD1xIxs);
  border-color: var(--token-BpJ5GLD1xIxs);
}
.ariaRadio[data-focus-visible] .freeBox__r7Ppv {
  outline-offset: 1px;
  outline-style: solid;
  outline-color: var(--token-BpJ5GLD1xIxs);
  outline-width: 2px;
}
.freeBox___40Ldc {
  position: relative;
  background: #ffffff;
  display: none;
  border-radius: 99px;
}
.ariaRadio[data-selected] .freeBox___40Ldc {
  width: var(--token-hQPSBqQKLLt7);
  height: var(--token-hQPSBqQKLLt7);
  flex-shrink: 0;
  display: block;
}
