.ariaSwitch:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  display: flex;
  box-sizing: border-box;
  color: var(--token-7Zq9pwo4YT0s);
  font-family: var(--token-LpPjQKScegqg);
  font-size: var(--token-Hpwq6zTbPXsQ);
  line-height: var(--token-mqfztb1uFxzi);
  width: 100%;
  flex-direction: column;
  row-gap: var(--token-TpTK_2GoKeuX);
  min-width: 0;
}
.ariaSwitch[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.ariaSwitch[data-readonly]:global(.__wab_instance) {
  pointer-events: none;
  cursor: default;
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--token-TehE4cTaM45d);
}
.switchIndicator {
  height: auto;
  width: var(--token-WpGnNskMseTp);
  display: flex;
  background: var(--token-usWESUuulc43);
  cursor: pointer;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 99px;
  padding: var(--token-crPyIXZxVUdd);
}
.ariaSwitch[data-selected] .switchIndicator {
  background: var(--token-BpJ5GLD1xIxs);
}
.ariaSwitch[data-focus-visible] .switchIndicator {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-BpJ5GLD1xIxs);
  outline-offset: 1px;
}
.ariaSwitch[data-disabled] .switchIndicator {
  cursor: not-allowed;
}
.thumb {
  display: flex;
  position: relative;
  width: var(--token-56MnlmrV6ooZ);
  background: var(--token-9f3mZy9-VpcL);
  height: var(--token-56MnlmrV6ooZ);
  flex-direction: row;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transform: skew(0deg, 0deg);
  box-shadow: 0px 0px 3px 0px #00000040;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.1s;
  border-radius: 99px;
}
.ariaSwitch[data-selected] .thumb {
  transform: translate3d(12px, 0px, 0px);
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
