.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-qROohWXI5aqf);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-XPoALpEtwm21);
  font-family: var(--token-VryzoRnr_CI5);
  font-size: var(--token-zrroDmBgIMqH);
  line-height: var(--token-SodRSIKcNmDj);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-BWYieGSKg7gp);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-Y3EIkQ9Ljn0D);
  outline-offset: 1px;
  outline-color: var(--token-qROohWXI5aqf);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-4Tjq7iyHy2bE);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-dQAEOoUpafs5);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-pcBWkyDo5DYE);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-bpxrHEoyfH4G);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-g-UQ-H8pR6l8);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-nvZn-6yQ8ao_);
  font-size: var(--token-8P9ie6RxBUrq);
  column-gap: var(--token-Y3EIkQ9Ljn0D);
  row-gap: 0px;
  border-radius: var(--token-n5aT4je473g9);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-8P9ie6RxBUrq);
  line-height: var(--token-nvZn-6yQ8ao_);
  column-gap: var(--token-n5aT4je473g9);
  row-gap: 0px;
  border-radius: var(--token-n5aT4je473g9);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-Pv35VQXWqgSP);
  line-height: var(--token-Q5-9yWhv2VuJ);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-Pv35VQXWqgSP);
  line-height: var(--token-Q5-9yWhv2VuJ);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token--gbxG1Os7tSm);
  border-radius: var(--token-BWYieGSKg7gp);
}
.softBackgroundcolor_neutral {
  background: var(--token-xVqq6JXDP8Pt);
}
.softBackgroundcolor_muted {
  background: var(--token-iexoFUyyukaj);
}
.softBackgroundcolor_success {
  background: var(--token-WdzxbBG2Ve6h);
}
.softBackgroundcolor_warning {
  background: var(--token-CnyMTfgb8Ka9);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-vcHDJ7UDOiVp);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-BWYieGSKg7gp);
  border: 0px solid var(--token-wdnnIy5E0ghC);
}
.bordercolor_neutral {
  border-color: var(--token-vGC78e0R0PHi);
}
.bordercolor_muted {
  border-color: var(--token-NkS6yxPnmp5l);
}
.bordercolor_success {
  border-color: var(--token-XqYhD4b6xv_Q);
}
.bordercolor_warning {
  border-color: var(--token-d6th4m6ylpNu);
}
.bordercolor_errorDestructive {
  border-color: var(--token-2SvEygcDJDs6);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-BWYieGSKg7gp);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-uScFs7MLBYov);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-Gxb7gP60a20C);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-llvjbSGgCHu7);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox___5P949 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-BWYieGSKg7gp);
  min-width: 0;
  min-height: 0;
  padding: var(--token-BWYieGSKg7gp) var(--token-Mopl8NkGBOGn);
}
.freeBoxsize_extraSmall___5P949OhGfs {
  padding: var(--token-n5aT4je473g9) var(--token-BWYieGSKg7gp);
}
.freeBoxsize_small___5P949HoY07 {
  padding: var(--token-BWYieGSKg7gp) var(--token-XPoALpEtwm21);
}
.freeBoxsize_large___5P949ZqZc5 {
  padding-top: var(--token-n5aT4je473g9);
  padding-bottom: var(--token-n5aT4je473g9);
}
.freeBoxsize_extraLarge___5P949VbBuX {
  padding-left: var(--token-Bo_nX76zb1W-);
  padding-right: var(--token-Bo_nX76zb1W-);
}
.freeBoxroundedFull___5P949UoMdU {
  padding-right: var(--token-Bo_nX76zb1W-);
  padding-left: var(--token-Bo_nX76zb1W-);
}
.freeBox___7Nr4M {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___7Nr4MMVdQm {
  display: flex;
}
.slotTargetStart {
  color: var(--token-f9hjL4jye6Pc);
}
.slotTargetStartcolor_neutral {
  color: var(--token-tduOgCGuz4Qb);
}
.slotTargetStartcolor_muted {
  color: var(--token-78wGZKWUZd0Y);
}
.slotTargetStartcolor_success {
  color: var(--token-ziVsEzW9DFx4);
}
.slotTargetStartcolor_warning {
  color: var(--token-mW1MwvvdmQ6R);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-7k9vNWIO6uYg);
}
.slotTargetStarttype_soft {
  color: var(--token-qzuNQ7rrWQNf);
}
.slotTargetStarttype_bordered {
  color: var(--token-qzuNQ7rrWQNf);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-8P9ie6RxBUrq);
}
.slotTargetStartsize_small {
  font-size: var(--token-8P9ie6RxBUrq);
}
.slotTargetStartsize_large {
  font-size: var(--token-Pv35VQXWqgSP);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-Pv35VQXWqgSP);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-jtgZi7Xqwxxa);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-jtgZi7Xqwxxa);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-RAc_fj7ISAEi);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-RAc_fj7ISAEi);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-xACQ5ZlTLLH8);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-xACQ5ZlTLLH8);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-4QIWVnbSv_7Q);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-4QIWVnbSv_7Q);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-5p59sV9hSg3r);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-5p59sV9hSg3r);
}
.svg___7ELg6 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-f9hjL4jye6Pc);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-tduOgCGuz4Qb);
}
.slotTargetLabelcolor_muted {
  color: var(--token-78wGZKWUZd0Y);
}
.slotTargetLabelcolor_success {
  color: var(--token-ziVsEzW9DFx4);
}
.slotTargetLabelcolor_warning {
  color: var(--token-mW1MwvvdmQ6R);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-7k9vNWIO6uYg);
}
.slotTargetLabeltype_soft {
  color: var(--token-qzuNQ7rrWQNf);
}
.slotTargetLabeltype_bordered {
  color: var(--token-qzuNQ7rrWQNf);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-jtgZi7Xqwxxa);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-RAc_fj7ISAEi);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-jtgZi7Xqwxxa);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-xACQ5ZlTLLH8);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-RAc_fj7ISAEi);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-4QIWVnbSv_7Q);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-xACQ5ZlTLLH8);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-5p59sV9hSg3r);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-4QIWVnbSv_7Q);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-5p59sV9hSg3r);
}
.text__pLmWp {
  white-space: pre;
}
.freeBox___6RvrU {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___6RvrU80UyD {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-f9hjL4jye6Pc);
}
.slotTargetEndcolor_neutral {
  color: var(--token-tduOgCGuz4Qb);
}
.slotTargetEndcolor_muted {
  color: var(--token-78wGZKWUZd0Y);
}
.slotTargetEndcolor_success {
  color: var(--token-ziVsEzW9DFx4);
}
.slotTargetEndcolor_warning {
  color: var(--token-mW1MwvvdmQ6R);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-7k9vNWIO6uYg);
}
.slotTargetEndtype_soft {
  color: var(--token-qzuNQ7rrWQNf);
}
.slotTargetEndtype_bordered {
  color: var(--token-qzuNQ7rrWQNf);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-8P9ie6RxBUrq);
}
.slotTargetEndsize_small {
  font-size: var(--token-8P9ie6RxBUrq);
}
.slotTargetEndsize_large {
  font-size: var(--token-Pv35VQXWqgSP);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-Pv35VQXWqgSP);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-jtgZi7Xqwxxa);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-jtgZi7Xqwxxa);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-RAc_fj7ISAEi);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-RAc_fj7ISAEi);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-xACQ5ZlTLLH8);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-xACQ5ZlTLLH8);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-4QIWVnbSv_7Q);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-4QIWVnbSv_7Q);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-5p59sV9hSg3r);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-5p59sV9hSg3r);
}
.svg__mTpk9 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
